/* Resetando margens e preenchimento padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo o estilo básico do corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #35aec4;
    color: #111010;
}

/* Cabeçalho */
header {
    background-color: #5d7ab1;
    color: rgb(24, 21, 21);
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    font-size: 36px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    padding: 20px;
    margin: 20px 0;
}

section#home {
    background-color: #fff;
    text-align: center;
}

section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* Lista de cursos */
section#cursos ul {
    list-style-type: square;
    margin-left: 40px;
}

/* Rodapé */
footer {
    background-color: #548ba5;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 14px;
}
